@model EcoVidaCR.Models.Voluntariados

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Voluntariados</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idVoluntariado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idVoluntariado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreVoluntariado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreVoluntariado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefono)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idVoluntariado }) |
    <a asp-action="Index">Back to List</a>
</div>
